@font-face {
  font-family: 'HelveticaNeueLTPro-BdCn';
  font-weight: 500;
  src: url("../font/HelveticaNeueLTPro-BdCn.otf") format('otf');
}
@font-face {
  font-family: 'Anton';
  font-weight: 500;
  src: url("../font/Anton-Regular.ttf") format('ttf');
}
.App {
  font-family: 'HelveticaNeueLTPro-BdCn';
  letter-spacing: -0.5px;
}
.button {
  padding : 0.8vw 2vw;
  border :none;
  outline : none;
  cursor: pointer;
  font-weight: bold;
  font-size : 0.8vw;
  background : white;
}