._cookieContainer {
  width : 100%;
  height : 5vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: white;
  font-size: 1.1vw;
  line-height: 1.4vw;
  z-index : 9999;
  
}
._cookieWrap {
  padding : 1.3vw 3vw;
}
._linkStyle {
  text-decoration: underline;
}
 ._closeBtn {
  cursor: pointer;
  font-weight: 100;
  color: black;
  font-size: 2vw;
  position: absolute;
  right: 2vw;
  top: 1vw;
}

/* 모바일 Cookie */
@media screen and (max-width: 1024px){

  ._cookieContainer{
    height : 11vw;
    font-size : 2vw;
    line-height: 3vw;
    font-weight : bold;
  }
  ._cookieWrap {
    padding : 1vw 5vw;
  }
  ._closeBtn{
    font-size : 4vw;
    right : 1vw;
  }
}