/* 지역설정 메뉴 */
.countryDiv{
  width : 100%;
  height: 20vw;
  background : black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: height 0.4s;
}
.countryDiv ._closeBtn {
  cursor: pointer;
  color: white;
  font-size: 2vw;
  position: absolute;
  right: 3vw;
  top: 1vw;
}
.countryDiv .countryWrap{
  width: 80%;
  height: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color : white;
  position: absolute;
  top : 3vw;
}
.countryDiv .countryWrap h2{
  font-size : 1.8vw;
  font-weight: bold;
}
.countryDiv .countryWrap span{
  font-size : 1vw;
  font-weight: bold;
  text-align: center;
}
.countryDiv .countryWrap a {
  font-size : 0.9vw;
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 1.5vw;
}
.countryDiv .countryWrap a span{
  transition: border 0.4s ease;
  border-bottom : 3px solid transparent;
}
.countryDiv .countryWrap a span:hover {
  color : #8f8e8e;
  border-bottom: 3px solid #8f8e8e;
}
.countryDiv .countryWrap .selectDiv{
  width : 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding : 1vw 0;
}
.countryDiv .countryWrap .selectDiv .selectCountry,
.countryDiv .countryWrap .selectDiv .selectLanguage {
  position: relative;
}
.countryDiv .countryWrap .selectDiv .selectWrap{
  width : 20vw;
  font-size : 1.3vw;
  font-weight: bold;
  padding : 0.7vw 0.8vw;
  outline : none;
  cursor: pointer;
  background : white;
  color: black;
  letter-spacing: -0.1vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.countryDiv .countryWrap .selectDiv .countryDropDown, .languageDropDown{
  width : 20vw;
  padding : 0.7vw 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline : none;
  background : white;
  color: #161616;
  position: absolute;
  top : 2.5vw;
  left: 0;
}
.countryDiv .countryWrap .selectDiv button{
  width : 15vw;
  padding : 0.3vw 0;
  border : none;
  outline: none;
  background : white;
  cursor: pointer;
  text-align: left;
  font-size : 0.9vw;
}
.countryDiv .countryWrap .selectDiv .button{
  width : 10vw;
  padding : 0.8vw 2.8vw;
}
/* 지역설정 메뉴 end */

/* 모바일 Country */
@media screen and (max-width: 1024px){

  .countryDiv{
    height: 30vw;
  } 
  .countryDiv .countryWrap{
    width : 100%;
    height: 25vw;
    justify-content: space-around;
  }
  .countryDiv .countryWrap h2{
    font-size : 3vw;
  }
  .countryDiv .countryWrap span{
    font-size : 2vw;
    line-height: 3vw;
  }
  .countryDiv ._closeBtn {
    font-size: 3.5vw;
  }
  .countryDiv .countryWrap .selectDiv{
    width : 85%;
  }
  .countryDiv .countryWrap .selectDiv .selectWrap{
    width : 25vw;
    font-size : 2vw;
    padding : 2vw 2vw;
  }
  .countryDiv .countryWrap a{
    font-size : 1.5vw;
    line-height: 3vw;
  }
  .countryDiv .countryWrap .selectDiv button{
    padding : 0.5vw 1.2vw;
    font-size : 1.9vw;
  }
  .countryDiv .countryWrap .selectDiv .button{
    width : 20vw;
    padding :1.8vw 3vw;
    text-align: center;
  }
  .countryDiv .countryWrap .selectDiv .countryDropDown, .languageDropDown{
    width : 27.4vw;
    top: 5vw;
  }
}