.headerContainer{
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index : 1;
}

/* hidden 메뉴 */
.hiddenCategory{
  width: 100%;
  height: 6vw;
  position: fixed;
  top: -130px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  z-index: 99;
}
.hiddenWrap{
  width : 100%;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiddenLogo{
  z-index: 3;
  position :absolute;
  left : 2.5vw;
}
.headerLogoH {
  width : 12vw;
  height : 3em;
}
.categoryWrapH{
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryMenuH{
  height: 1vw;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  align-items: center;
  background : rgb(74, 123, 255);
}
.categoryMenuH li{
  height: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categoryWrapH li a{
  font-weight: bold;
  font-size: 1.1vw;
  color : white;
  margin: 0 1.2vw;
}
.categoryWrapH li a:hover {
  color : rgb(185, 184, 184);
  transition: color 0.5s;
  border-bottom : 0.2vw solid rgb(185, 184, 184);
}

.iconDivH{
  width: 6.5vw;
  display: flex;
  justify-content: space-between;
  margin-left : 1vw;
  color : white;
  font-size: 1.2vw;
  z-index: 2;
}
.languageDivH{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color : white;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  right : 2.5vw;
}
.languageDivH :hover, .iconDivH :hover{
  color : rgb(185, 184, 184);
  transition: color 0.5s;
}
.languageWrapH{
  width : 12vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size : 0.9vw;
}
/* hidden 메뉴 end */

/* 기본메뉴 */
.headerWrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding : 3vw 0 0 0;
  z-index: 2;
  position: relative;
  top : 0;
}
.languageDiv{
  width : 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color : white;
  font-weight: bold;
  font-size : 1vw;
}
.languageDiv :hover, .iconDiv :hover {
  color :rgb(196, 192, 192);
  transition: color 0.5s;
}
.languageWrap{
  width : 12vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size : 0.9vw;
}
.headerLogo {
  width : 13vw;
  height : 3vw;
  margin-bottom : 1vw;
}
.headerCategory{
  width : 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.categoryWrap {
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryMenu{
  height: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background : rgb(74, 123, 255);

}
.categoryMenu li{
  height: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerCategory li a {
  font-size: 1.1vw;
  font-weight: bold;
  color : white;
  margin: 0 1.2vw;
}
.headerCategory li a:hover {
  color :rgb(196, 192, 192);
  transition: color 0.5s;
  border-bottom : 0.2vw solid rgb(185, 184, 184);
}
.headerCategory .iconDiv{
  width: 6.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left : 1vw;
  color : white;
  font-size: 1.2vw;
}
/* 기본메뉴 end*/
