.homeContainer {
  width : 100%;
  height: 100%;
  
}
.homeContainer .button{
  margin-top :1.5vw;
}
/* 홈메인 */
.homeMain{
  width : 100%;
  height: 60vw;
  background :url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dw31fb25da/images/front-page/year/2021/january/post-holiday/post-holiday-hero-emberton-bnb-en-big-desktop@1.41x.jpg?sw=2000&sh=2000&sm=fit)no-repeat;
  background-size : 100% 100%;
  cursor: pointer;
  position: relative;
}
.homeMain .gradientDiv{
  width : 100%;
  height: 60vw;
  transition: background 0.6s;
}
.homeMain .gradientDiv:hover{
  background: rgb(0, 0, 0, 0.15);
}
.homeWrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom : 6vw;
}
.mainText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow :column wrap;
  text-align: center;
  z-index: 3;
}

.mainText a{
 color : white;
 font-weight: bold;
 padding : 1vw 0 0.5vw 0;
}
.mainText #text1{
  font-size : 1.25vw;
}
.mainText #text2{
  width: 40vw;
  font-size : 3.25vw;
  letter-spacing: -0.3vw;
}
.mainText #text3{
  width: 55vw;
  font-size : 1.2vw;
}
/* 홈메인 */

/* 홈컨텐츠01*/
.homeContents01{
  width : 100%;
  height: 40vw;
  background :#232225;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homeContents01 .contentsDiv01{
  width : 85%;
  height: 42vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.homeContents01.contentsDiv01 a{
  width : 80%;
  margin : 0 2vw;
}
.homeContents01 .contentsDiv01 a .gradientDiv {
  width : 100%;
  height: 100%;
  transition: background 0.6s;
}
.homeContents01 .contentsDiv01 .gradientDiv:hover{
  background: rgb(0, 0, 0, 0.2);
}
.homeContents01 .contentsDiv01 .imgDiv01{
  width : 45%;
  height: 37vw;
  background : url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dwdadeb577/images/front-page/year/2021/january/post-holiday/post-holiday-2-col-acton-ii-bt-desktop@1.41x.jpg?sw=1234&sh=2000&sm=fit);
  background-size : 100% 100%;
  position : relative;
}
.homeContents01 .contentsDiv01 .contentsText {
  width:  100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom : 1vw;
}
.homeContents01 .contentsDiv01 span{
  color : white;
  font-size : 1vw;
  margin-bottom: 10px;
  font-weight: bold;
}
.homeContents01 .contentsDiv01 h2{
  color : white;
  font-size : 2vw;
  font-weight: bold;
}
.homeContents01 .contentsDiv01 .imgDiv02{
  width : 45%;
  height: 37vw;
  background : url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dwdfa94768/images/front-page/year/2021/january/post-holiday/post-holiday-2-col-acton-ii-bt-white-desktop@1.41x.jpg?sw=1234&sh=2000&sm=fit);
  background-size : 100% 100%;
  position : relative;
}
/* 홈컨텐츠01 end*/

/* 홈컨텐츠02*/
.homeContents02{
  width : 100%;
  height: 50vw;
  background :url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dw2a33939b/images/front-page/year/2021/january/post-holiday/post-holiday-fullwidth-major-iv-desktop@1.41x.jpg?sw=2000&sh=2000&sm=fit);
  background-size : 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homeContents02 .gradientDiv{
  width : 100%;
  height: 100%;
  transition: background 0.6s;
  cursor: pointer;
}
.homeContents02 .gradientDiv:hover{
  background: rgb(0, 0, 0, 0.2);
}
.homeContents02 .contentsText{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom : 4vw;
}
.homeContents02 .contentsText span{
  color : white;
  font-size : 1.5vw;
  margin-bottom: 15px;
  font-weight: bold;
}
.homeContents02 .contentsText h2{
  color : white;
  font-size : 3vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
}
.homeContents02 .contentsText p{
  color : white;
  font-size : 1.25vw;
  font-weight: bold;
}
/* 홈컨텐츠02 end*/

/* 홈컨텐츠03 */
.homeContents03{
  width : 100%;
  height: 30vw;
  background :#232225;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeContents03 .contentsDiv03{
  width: 90%;
  height: 27vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homeContents03 .contentsDiv03 .imgDiv01{
  width : 25%;
  height: 23vw;
  background-image: url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dw4086c9ca/images/front-page/year/2021/january/post-holiday/post-holiday-3-col-major-iii-bt-mobile@5x.jpg?sw=568&sh=2000&sm=fit);
  background-size : 100% 100%;
  position: relative;
}
.homeContents03 .contentsDiv03 .imgDiv02{
  width : 25%;
  height: 23vw;
  background-image: url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dw1289a60d/images/front-page/year/2021/january/post-holiday/post-holiday-3-col-accessories-desktop@3x.jpg?sw=1234&sh=2000&sm=fit);
  background-size : 100% 100%;
  position: relative;
}
.homeContents03 .contentsDiv03 .imgDiv03{
  width : 25%;
  height: 23vw;
  background-image: url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dw8bf9dcd6/images/front-page/year/2021/january/post-holiday/post-holiday-3-col-monitor-ii-anc-desktop@3x.jpg?sw=1234&sh=2000&sm=fit);
  background-size : 100% 100%;
  position: relative;
}
.homeContents03 .contentsDiv03 .gradientDiv{
  width : 100%;
  height: 23vw;
  transition: background 0.6s;
  cursor: pointer;
}
.homeContents03 .contentsDiv03 .gradientDiv:hover{
  background: rgb(0, 0, 0, 0.2);
}
.homeContents03 .contentsDiv03 .contentsText{
  width :100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom : 2.5vw;
  text-align: center;
}
.homeContents03 .contentsDiv03 span{
  color : white;
  font-size : 1vw;
  margin-bottom: 1vw;
  font-weight: bold;
}
.homeContents03 .contentsDiv03 h2{
  color : white;
  font-size : 2vw;
  font-weight: bold;
}
/* 홈컨텐츠03 end*/

/* 홈컨텐츠04 */
.homeContents04 {
  width : 100%;
  height: 35vw;
  background-image :radial-gradient(circle at 49% 53%, #f0f0f0, #aaa 62%, #4f4f4f);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding : 8vw 0 ;
}
.homeContents04 .contentsTitle{
  width : 90%;
  height: 8vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.homeContents04 .contentsTitle h2{
  color : black;
  font-size : 2vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
  letter-spacing: -0.1vw;
}
.homeContents04 .contentsTitle span{
  color : black;
  font-size : 1vw;
}
.homeContents04 .contentsDiv04{
  width : 90%;
  height: 30vw;
  display: flex;
  justify-content: space-around;
}
.homeContents04 .contentsWrap{
  width : 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContents04 .contentsDiv04  .imgLink {
  width : 80%;
  height: 18vw;
  display: flex;
  flex-direction: column;
}
.homeContents04 .contentsDiv04 a .imgDiv01 {
  width : 100%;
  height: 25vw;
  background : url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Sites-zs-master-catalog/default/dw64d73121/images/marshall/headphones/monitor-ii-anc/medium/mh-monitor-II-ANC-medium.png?sw=670&sh=670&sm=fit);
  background-size: 100% 100%;
}
.homeContents04 .contentsDiv04 a .imgDiv02 {
  width : 100%;
  height: 25vw;
  background : url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Sites-zs-master-catalog/default/dw88a48dc4/images/marshall/speakers/emberton/medium/Thumbnail_Emberton_medium.png?sw=670&sh=670&sm=fit);
  background-size: 100% 100%;
}

.homeContents04 .contentsDiv04 a .imgDiv03 {
  width : 100%;
  height: 25vw;
  background : url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Sites-zs-master-catalog/default/dw238395b1/images/marshall/speakers/stockwell-ii/black/medium/pl-marshall-speakers-stockwell-ii-black.png?sw=670&sh=670&sm=fit);
  background-size: 100% 100%;
}

.homeContents04 .contentsDiv04 a .imgDiv04 {
  width : 100%;
  height: 25vw;
  background : url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Sites-zs-master-catalog/default/dw997ba8ca/images/marshall/speakers/kilburn-ii/medium/pl-marshall-speakers-kilburn-ii-black-1700x1700.png?sw=670&sh=670&sm=fit);
  background-size: 100% 100%;
}
.homeContents04 .contentsDiv04 .contentsText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color : black;
}
.homeContents04 .contentsDiv04 .contentsText h2{
  font-weight: bold;
  font-size : 1.5vw;
  margin-bottom: 0.6vw;
}
.homeContents04 .contentsDiv04 .contentsText h3{
  font-size : 1vw;
  font-weight: bold;
  color :#161616;
}
.homeContents04 .contentsDiv04 .contentsText span{
  font-weight: bold;
  font-size : 1vw;
}
.contentsDiv04 .contentsText .productName {
  margin-bottom: 1vw;
}
.contentsDiv04 .contentsText .priceText {
  color :#161616;
  font-size : 1vw;
  width : 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentsDiv04 .contentsText .priceText div{
  margin-right: 0.5vw;
}
.contentsDiv04 .contentsText .priceText i{
  margin-right: 0.2vw;
  font-weight: bold;
}
.contentsDiv04 .contentsText .colorSelect{
  text-align: center;
  margin-top : 0.7vw;
}
.contentsDiv04 .contentsText .colorSelect span{
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.2vw;
  background-color: black;
}
/* 홈컨텐츠04 end*/

/* 모바일 홈 */
@media screen and (max-width: 1024px){
  .homeContainer {
    position: relative;
    top : 8vw;
  }
  .mainText #text1{
    font-size : 2.5vw;
  }
  .mainText #text2{
    font-size : 5vw;
  }
  .mainText #text3{
    font-size : 2.5vw;
  }
  .homeContents01{
    height: 190vw;
  }
  .homeContents01 .contentsDiv01 {
    width : 90%;
    height: 190vw;
    flex-direction: column;
    justify-content: space-around;
  }
  .homeContents01 .contentsDiv01 .imgDiv01{
    width: 100%;
    height: 90vw;
  }
  .homeContents01 .contentsDiv01 .imgDiv02{
    width: 100%;
    height: 90vw;
  }
  .homeContents01 .contentsDiv01 .contentsText{
    flex-wrap :wrap;
    bottom : 4vw;
  }
  .homeContents01 .contentsDiv01 span{
    font-size : 2vw;
    margin-bottom: 10px;
  }
  .homeContents01 .contentsDiv01 h2{
    line-height: 3.5vw;
    text-align: center;
    width : 40vw;
    font-size : 3.5vw;
  }
  .homeContents02 .contentsText {
    flex-wrap : wrap;
  }
  .homeContents02 .contentsText span{
    font-size : 2vw;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .homeContents02 .contentsText h2{
    width : 45vw;
    font-size : 4vw;
  }
  .homeContents02 .contentsText p{
    font-size : 2vw;
  }
  .homeContents03{
    height: 280vw;
  }
  .homeContents03 .contentsDiv03{
    width : 90%;
    height: 280vw;
    flex-direction: column;
  }
  .homeContents03 .contentsDiv03 .imgDiv01{
    width : 100%;
    height: 90vw;
  }
  .homeContents03 .contentsDiv03 .imgDiv02{
    width : 100%;
    height: 90vw;
  }
  .homeContents03 .contentsDiv03 .imgDiv03{
    width : 100%;
    height: 90vw;
  }
  .homeContents03 .contentsDiv03 .gradientDiv{
    height: 90vw;
  }
  .homeContents03 .contentsDiv03 .contentsText{
    bottom : 5vw;
  }
  .homeContents03 .contentsDiv03 h2{
    font-size : 3.5vw;
  }
  .homeContents03 .contentsDiv03 span{
    font-size: 2.5vw;
  }
  .homeContents04{
    height: 60vw;
    justify-content: space-around;
    padding : 2vw 0 7vw 0;
  }
  .homeContents04 .contentsTitle h2{
    font-size : 3vw;
  }
  .homeContents04 .contentsTitle span{
    font-size : 2vw;
  }
  .homeContents04 .contentsDiv04{
    width : 100%;
  }
  .homeContents04 .contentsDiv04 .contentsText h2{
    font-size : 2.5vw;
  }
  .homeContents04 .contentsDiv04 .contentsText h3{
    font-size : 1.7vw;
  }
  .homeContents04 .contentsDiv04 .contentsText span{
    font-size : 2vw;
  }
  .contentsDiv04 .contentsText .priceText{
    font-size : 2vw;
    width: 10vw;
  }
  .contentsDiv04 .contentsText .priceText i{
    font-size : 2vw;
  }
  .contentsDiv04 .contentsText .colorSelect span{
    width : 2.5vw;
    height: 2.5vw;
  }
}