.notFound {
  height : 50vw;
  color : white;
  background : no-repeat center/100% url(https://www.marshallheadphones.com/dw/image/v2/BCQL_PRD/on/demandware.static/-/Library-Sites-SharedLibrary-Marshall/default/dwd26f9dae/images/landing/general-landing/404.jpg?sw=2000&sh=2000&sm=fit);
  position : relative;
}
.noFoundWrap {
  display : flex;
  justify-content : space-around;
  flex-direction : column;
  align-items : center;
  height : 15vw;
  position : absolute;
  bottom : 35%;
  left : 50%;
  transform : translateX(-50%);
  text-align: center;
}
.notFound ._h1 {
  font-size : 3vw;
  font-weight : bold;
}
.notFound ._p {
  font-size : 1.2vw;
  font-weight : bold;
}

@media screen and (max-width: 1024px){
  .notFound {
    position : relative;
    top: 8vw;
  }
  .noFoundWrap {
    width: 25vw;
    height: 20vw;
    bottom : 25%;
  }
  .notFound ._h1 {
    font-size : 3.5vw;
  }
  .notFound ._p {
    font-size : 1.5vw;
  }
}