@font-face {
  font-family: 'HelveticaNeueLTPro-BdCn';
  font-weight: 500;
  src: url("font/HelveticaNeueLTPro-BdCn.otf") format('otf');
}
@font-face {
  font-family: 'Anton';
  font-weight: 500;
  src: url("font/Anton-Regular.ttf") format('ttf');
}
html{
  font-family: 'HelveticaNeueLTPro-BdCn','Anton';
  letter-spacing: -0.3px;
  background : black;
}
a{
  color : black;
}
.button {
  padding : 1vw 2vw;
  border :none;
  outline : none;
  cursor: pointer;
  font-weight: bold;
  font-size : 0.8vw;
  background : white;
}
@media screen and (max-width: 1024px){
  .button {
    padding : 1.5vw 3vw;
    border :none;
    outline : none;
    cursor: pointer;
    font-weight: bold;
    font-size : 1.5vw;
    background : white;
  }
}
